<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to VartoRead, <%= @user.first_name %></h1>
    <p>
      If you're reset your password <%= @user.first_name %>.
    </p>
    <p>
      Please visite this link to renew him
      <a href="<%= @url %>/?token=<%= @token %>">Visite</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
