<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>VartoRead. Order #<%= @order.id %> status changed to <%= @order.status %></h1>
    <p>
      Thanks for order: <%= @user.first_name %>.
    </p>
    <p>
      To login to the site, just follow this link:
      <a href="<%= @url %>">Visite</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
