<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Catch your coupon, <%= @coupon.first_name %></h1>
    <p>
      <%= @coupon.token %>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
